## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [58]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [59]:
# Your code here
sample_list_1=random.sample(range(0,100),80)
print(sample_list_1)

[83, 59, 90, 86, 80, 19, 6, 88, 58, 41, 63, 67, 55, 48, 42, 5, 35, 39, 87, 23, 2, 68, 32, 52, 79, 66, 69, 56, 62, 47, 84, 94, 70, 30, 51, 29, 60, 38, 21, 98, 93, 45, 8, 25, 0, 33, 13, 14, 53, 75, 61, 18, 17, 44, 9, 34, 31, 46, 11, 22, 27, 71, 7, 81, 49, 77, 95, 40, 89, 73, 15, 36, 24, 1, 10, 26, 82, 3, 91, 28]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [60]:
# Your code here
set1=set(sample_list_1)
print(len(sample_list_1))
print(set1)

80
{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 70, 71, 73, 75, 77, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95, 98}

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [61]:
# Your code here
sample_list_2=[i for i in range(80)]
print(sample_list_2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [62]:
# Your code here
set2=set(sample_list_2)
print(len(sample_list_2))
print(set2)

80
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [63]:
# Your code here
set3 = set1.difference(set2)
print(set1)
print(set2)
print(set3)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 70, 71, 73, 75, 77, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95, 98}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79}
{98, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [64]:
# Your code here
set4 = set2.difference(set1)
print(set4)

{64, 65, 4, 37, 72, 74, 43, 12, 76, 78, 16, 50, 20, 54, 57}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [66]:
# Your code here
set5 = set1.intersection(set2)
print(set5)

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 70, 71, 73, 75, 77, 79}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [75]:
# Your code here
print(len(set1))
print(len(set2))
print(len(set3))
print(len(set4))
print(len(set5))
print("No sé que fórmula matemática estoy buscando", 
      "es la 1:46 y google no me ayuda. Pregunto por la mañana")

80
80
15
15
65
No sé que fórmula matemática estoy buscando es la 1:46 y google no me ayuda. Pregunto por la mañana

#### Create an empty set called `set6`.

In [80]:
# Your code here
set6={}
print(set6)

{}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [87]:
# Your code here
set6.update(set3)
print(set6)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

#### Check if `set1` and `set6` are equal.

In [88]:
# Your code here
if set1==set6:
    print("EQUAL")
else:
    print("NOT EQUAL")

NOT EQUAL

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [89]:
# Your code here
if set1.issubset(set2):
    print("set1 contains set2")
else:
    print("set1 not contains set2")
if set1.issubset(set3):
    print("set2 contains set3")
else:
    print("set2 not contains set3")

set1 not contains set2
set2 not contains set3

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [90]:
# Your code here
set1.union(set3,set4,set5)
print(set1)
set1.union(set2)
print(set1,"I dont know what are going on here")

{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 70, 71, 73, 75, 77, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95, 98}
{0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 38, 39, 40, 41, 42, 44, 45, 46, 47, 48, 49, 51, 52, 53, 55, 56, 58, 59, 60, 61, 62, 63, 66, 67, 68, 69, 70, 71, 73, 75, 77, 79, 80, 81, 82, 83, 84, 86, 87, 88, 89, 90, 91, 93, 94, 95, 98}

#### Using the `pop` method, remove the first element from `set1`.

In [93]:
# Your code here
set1.pop[0]
print(set1 "Now i strogly understand the power os comments",
     "we can throw a part of our frustrations here.",
      " For sure , tomorrow this will be done and answered")

SyntaxError: invalid syntax (<ipython-input-93-430d6b4e82b3>, line 3)

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here